body {
  width: 100%;
  font-family: 'Lucida Console', Console, monospace;
  font-style: normal;
  font-size: 60px;
  padding: 0px;
  margin: 0px;
  color: #ccc;
  background-color: #000;
}

a:link {
  color: #a3a3c2;
}

a:visited {
  color: #a3a3c2;
}

a:hover {
  color: #b3b3d2;
}

a:active {
  color: #b3b3d2;
}

input {
  font-family: 'Lucida Console', Console, monospace;
  font-style: normal;
  font-size: 60px;
}

main {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

div .section {
  align-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

div .message {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 5px solid #a3a3c2;
  border-radius: 5px;
}

button {
  margin: 0px 15px 0px 15px;
  background: #a3a3c2;
  font-family: 'Lucida Console', Console, monospace;
  font-style: normal;
  font-size: 48px;
}

.plus-button {
  height: 100px;
  width: 300px;
}

.menu-button {
  height: 80px;
  width: 80px;
}

div .header div {
  float: left;
}

.menu-button {
  background-color: #333;
  padding: 15px;
  font-size: 24px;
  cursor: pointer;
}

.nav-links {
  background-color: #333;
}

.nav-links a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: #111;
}
